#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  
}
body {
  margin: 0 auto;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.App{
  width: 60%;
max-width: 400px;
padding: 15em 30em;
height: 60%;
max-height: 85%;
border-radius: 3em;
position: relative;
text-align: center;
display: flex;
flex-direction: column;

     
}
.card{
  box-shadow: 2px 2px 8px rgba(1, 2, 1, 5);
  width: fit-content;
  padding: 25px;
  border-radius: 25px;
  background: #fff;
  
}

.button{
  margin-left: 7em;
}
p{
  margin-left: 10em;
}